<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="bookdetail.css" />
    <script src="bookdetail.js" type="module" defer></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <div class="book_container">
        <div class="book_head">
            <div class="bookName"></div>
            <div class="book_info">
                <span id="author"></span>
                <span id="publish"></span>
                <span id="pubDate"></span>
            </div>
        </div>

        <div class="book_body">
            <div class="bookImg"><img></div>

            <ul class="book_details">
                <li>
                    <div class="Litem">정가</div>
                    <div id="fixedPrice" class="Ritem"><span></span> 원</div>    
                </li>
                <li>
                    <div class="Litem">판매가</div>
                    <div class="Ritem"><span id="nowPrice"></span> 원 (10%, 1,780원 할인)</div>  
                </li>
                <li>
                    <div class="Litem">배송료</div>
                    <div class="Ritem"><span id="deliveryPrice"></span>원 (12,000원 이상 무료배송) </div> 
                </li>
                <li class="quan">
                    <div class="Litem">수량</div>
                    
    <div class="qty">
        <input class="minus" type="button" value="-">
        <input id ="num" type="number" value="1" min="1" step="1" style="width: 30px; height:30px; text-align:center;">
        <input class="plus" type="button" value="+">
    </div>
                    <div class="Ritem total_price">총 상품금액 <span id="total"></span>원</div>
                </li>
                <li>
                    <div class="Litem">책 소개</div>
                    <div class="bookInformation" class="Ritem">책 설명입니다 자세한건 </div>  
                </li>
                <li class="btn">
                    <div class="cartBtn"><input id="cartBtn" type="button" value="장바구니"></div>
                    <div class="buyBtn"><input id="buyBtn" type="button" value="바로구매"></div> 
                </li>
            </ul>
        </div>
    </div>

   



</body>
</html>