/*  .container {
  width: 1000px;
  height: 1000px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.account-page-title {
  border-bottom: 1px solid #ddd;
  /* background-color: red; */
  font-size: 30px;
  /* margin-bottom: 100px; */
}

.account-page-body {
  width: 100%;
  height: 80%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* background-color: red; */
}
.account-page-body .my-info {
  width: 50%;
  height: 700px;
  background-color: #f0f2f5;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.account-page-body .my-info .my-info-field #username,
.account-page-body .my-info .my-info-field #currentPassword,
.account-page-body .my-info .my-info-field #userPassword,
.account-page-body .my-info .my-info-field #userPasswordCheck,
.account-page-body .my-info .my-info-field #postcode,
.account-page-body .my-info .my-info-field #mainAddress,
.account-page-body .my-info .my-info-field #subAddress,
.account-page-body .my-info .my-info-field #userPhoneNo {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}
