<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../commonStyle.css" />
    <link rel="stylesheet" href="./account.css" />
    <script defer src="../home/template.js" type="module"></script>
    <link rel="stylesheet" href="../home/template.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <!-- 여기에 header 삽입됨 -->
      </header>

      <div class="account">
        <div class="account-page-title">
          <h1><strong>계정관리</strong></h1>
        </div>
        <div class="account-page-menu-container">
          <a class="menu-card" href="./orders/orders.html">
            <div class="menu-icon">
              <img src="../elice-rabbit.png" alt="" />
            </div>
            <div class="menu-body">
              <span class="title">주문 조회</span>
              <span class="subtitle">
                지난 주문 내역을 확인, 취소할 수 있습니다.
              </span>
            </div>
          </a>
          <a class="menu-card" href="./accountInfo/accountInfo.html">
            <div class="menu-icon">
              <img src="../elice-rabbit.png" alt="" />
            </div>
            <div class="menu-body">
              <span class="title">회원정보 관리</span>
              <span class="subtitle">
                회원 정보를 확인, 수정할 수 있습니다.
              </span>
            </div>
          </a>
          <a class="menu-card" href="./initialize/initialize.html">
            <div class="menu-icon">
              <img src="../elice-rabbit.png" alt="" />
            </div>
            <div class="menu-body">
              <span class="title">비밀번호 초기화</span>
              <span class="subtitle">
                이메일을 입력하면, 새로운 비밀번호가 전송됩니다.
              </span>
            </div>
          </a>
          <a class="menu-card" href="./signout/signout.html">
            <div class="menu-icon">
              <img src="../elice-rabbit.png" alt="" />
            </div>
            <div class="menu-body">
              <span class="title">회원 탈퇴</span>
              <span class="subtitle">
                모든 정보를 안전하게 삭제한 후 탈퇴할 수 있습니다.
              </span>
            </div>
          </a>
        </div>
      </div>
      <footer>
        <!-- 여기에 footer 삽입됨 -->
      </footer>
    </div>
  </body>
</html>
