/* body{
  box-sizing: border-box;
  margin: 0;
} */

.register_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.register_container #registerForm {
  width: 450px;
  height: 650px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.register_container h1 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  /* margin: 20px 0; */
  padding-bottom: 15px;
}

#registerForm .input:focus {
  border-color: #00d1b2;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.field {
  /* padding-bottom: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control {
  width: 350px;
}

.buttons {
  /* display: flex;
  justify-content: center; */
  margin-top: 20px;
}

#submitBtn:hover {
  background: pink;
}

.label {
  color: #fff;
  font-weight: 200;
  width: 350px;
}

@media (min-width: 1000px) {
  .register_container #registerForm {
    width: 500px;
    height: 650px;
  }
  .register_container h1 {
    font-size: 48px;
    /* margin-top: 70px; */
  }
}
