<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../../commonStyle.css" />
    <link rel="stylesheet" href="./orders.css" />
    <script src="./orders.js" type="module"></script>

    <script defer src="../../home/template.js" type="module"></script>
    <link rel="stylesheet" href="../../home/template.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <!-- 여기에 header 삽입됨 -->
      </header>

      <div class="account">
        <div class="account-page-title">
          <h1><strong>주문 조회</strong></h1>
        </div>

        <div class="account-page-body">
          <div class="body-list body-th">
            <div class="createdAt">날짜</div>
            <div class="fullName">구매인</div>
            <div class="email">이메일</div>
            <div class="phoneNumber">전화번호</div>
            <div class="order_data">주문 정보</div>
            <div class="price">총 가격</div>
            <div class="request">요청사항</div>
            <div class="cancel">주문 취소</div>
          </div>
          <!-- <div class="body-list body-tr">
            <div class="date">2022-02-02</div>
            <div class="product">아이보리 니트 / 1개</div>
            <div class="state">상품 준비중</div>
            <div class="apply">주문 취소</div>
          </div> -->
        </div>
      </div>
      <footer>
        <!-- 여기에 footer 삽입됨 -->
      </footer>
    </div>
  </body>
</html>
