/* .container  {
  width: 1000px;
  height: 700px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.account-page-title {
  border-bottom: 1px solid #ddd;
  /* background-color: red; */
  font-size: 30px;
  /* margin-bottom: 100px; */
}

.account-page-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.account-page-body .body-list {
  width: 100%;
  padding: 5px 0;
  display: flex;
  text-align: center;
  border-radius: 8px;
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  font-weight: 500;
  font-size: 14px;
}
.body-list .createdAt,
.body-list .phoneNumber {
  width: 10%;
  padding: 0 5px;
  overflow: auto;
}
.body-list .fullName,
.body-list .price,
.body-list .cancel {
  width: 7%;
  padding: 0 5px;
  overflow: auto;
}
.body-list .email {
  width: 13%;
  padding: 0 5px;
  overflow: auto;
}
.body-list .request {
  width: 16%;
  padding: 0 5px;
  overflow: auto;
}
.body-list .order_data {
  width: 30%;
  padding: 0 5px;
  overflow: auto;
}

.body-th {
  background-color: #b8c5f5;
}
.body-tr {
  background-color: #e1e6fa;
}
