<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-7팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../commonStyle.css" />
    <script defer src="./imageSlider.js"></script>
    <link rel="stylesheet" href="./imageSlider.css" />

    <!-- template 파일에 header, scrollbtn, footer 모두 뿌려주는 코드 있음 -->
    <script defer src="./template.js" type="module"></script>
    <link rel="stylesheet" href="./template.css" />
  </head>
  <body>
    <div class="container">
      <div class="account">
        <header>
          <!-- 여기에 header 삽입됨 -->
        </header>

        <div class="scroll_btn">
          <!-- 여기에 scroll_btn 삽입됨 -->
        </div>

        <div class="slider-wrap" id="slider-wrap">
          <!-- 여기에 image-slider 삽입됨 -->
        </div>

        <div style="width: 100px; height: 2000px; background-color: red"></div>
        <footer>
          <!-- 여기에 footer 삽입됨 -->
        </footer>
      </div>
    </div>
  </body>
</html>
