/* 아래 코드는 문제 해결을 위해 기본적으로 제공되는 코드입니다. 수정하지 마세요! */
h1 {
    color:orange;
}

/* 지시사항 1번을 참고하여 코드를 작성하세요. */
.list {
    font-style:italic;
}

.list p {
    font-weight:bold;
}

.notice {
    color:#532fa1;
}

.notice ol {
    color:#a44789;
}


/* 지시사항 2번을 참고하여 코드를 작성하세요. */



/* 지시사항 3번을 참고하여 코드를 작성하세요. */



/* 지시사항 4번을 참고하여 코드를 작성하세요. */


