/* body {
  box-sizing: border-box;
  margin: 0;
} */

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.login_container #loginForm {
  width: 450px;
  height: 450px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.login_container h1 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  /* margin: 20px 0; */
  padding-bottom: 45px;
}

#loginForm .input:focus {
  border-color: #00d1b2;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.field {
  display: flex;
  justify-content: center;
}

.field:nth-child(3) {
  margin-bottom: 15px;
}

.control {
  width: 300px;
}

.info_id {
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 130px;
}

#saveIdCheck {
  margin-right: 5px;
}

.info_id div a {
  cursor: pointer;
  color: #fff;
}
.info_id div a:hover {
  opacity: 0.7;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#submitBtn:hover {
  background-color: pink;
}

.social_login {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.social_login i {
  color: #fff;
  font-size: 20px;
  margin: 0 12px;
}

.recSignup {
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.recSignup span {
  cursor: pointer;
}

.recSignup span a {
  text-decoration: none;
  color: pink;
}

.recSignup span a:hover {
  opacity: 0.7;
}

/*반응형 */

@media (min-width: 1024px) {
  .login_container #loginForm {
    width: 500px;
    height: 500px;
  }
  .login_container h1 {
    /* margin-top: 120px; */
    font-size: 48px;
  }
}
