<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="order-complete.css" />
    <!-- <script src=".js" type="module" defer></script> -->
  </head>
  <body>
    <!-- 헤더 -->
    <div class="order_complete_container">
        <h1>주문완료</h1>
        <div class="complete_msg">
            <div class="msg">
                <div id="msg">
                    <i class="fa-solid fa-clipboard-check"></i>
                    <h2>주문이 완료되었습니다!</h2>
                </div>
                <p>배송은 2~3일 소요됩니다.</p>
            </div>
            <div class="btns">
                <div class="order_list buttons"><input class="button is-primary" type="button" value="주문내역 보기"></div>
                <div class="keep_shopping buttons"><input class="button is-primary" type="button" value="쇼핑 계속하기" onClick="location.href='/'"></div>
            </div>
        </div>
    </div>
 


  </body>
</html>
