body{
    box-sizing: border-box;
    margin: 0;
}
.container{
    width: 1260px;
    border: 3px solid red;
}
.container h1{
    font-size: 36px;
    margin: 20px;
    font-weight: bold;
}

.order_container{
    width: 100%;
    border: solid 5px black;
    display: flex;
}

.order_list{
    width: 60%;
    border: 4px solid blue;
}

table{
    margin: 0 auto;
}
table th{
    font-size: 18px;
    height:40px;
    padding-top: 6px;
}

td{
    width: 200px;
    height: 100px;
}

td img{
    width: 200px;
    height: 180px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.qty{
    width: 150px;
    /* border: 1px solid red; */
}

.qty span{
    display: inline-block;
    padding: 0 10px;
}

.qty .minus, .qty .plus{
    width: 30px;
    height: 30px;
}









.delivery-info {
  width: 100%;
  border: 1px solid blue;
}

.delivery-info .subtitle {
    /* border: 1px solid green; */
    padding-left: 8px;
}

.delivery-info .field-label {
    /* border: 1px solid pink; */
    flex-basis: 112px;
    flex-grow: 0;
    text-align: left;
    height: 48px;
    padding-left: 8px;
}

.delivery-info .field-body,
.delivery-info .select {
    /* border: 1px solid blueviolet; */
    flex-basis: 560px;
    flex-grow: 0;
    height: 48px;
}

.select select {
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.3);
}

.select .select-option {
    font-size: 16px;
    color: black;
}

.delivery-info .button {
    height: 48px;

}

.delivery-info .field-body .control,
.delivery-info .field-body .input {
    height: 100%;
}



.cart_pay{
    margin: auto 0;
    border: 3px solid yellow;
    height: 350px;
    width: 40%;
}

.cart_pay h2{
    /* border: 1px solid blueviolet; */
    margin: 20px;
    font-size: 24px;
}
.cart_pay h2 span{
    border-bottom: 1px solid lightgray;
    display: inline-block;
    padding-bottom: 6px;
}

.cart_pay .cart_price{
    /* border: 1px solid hotpink; */
    margin: 10px;
}

.cart_pay .cart_price div{
    padding: 15px;
}

.cart_pay .cart_total_price{
    /* border: 1px solid black; */
    margin: 10px;
    padding: 15px;
}

.cart_buy_btn{
    /* border: 1px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}




